@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:host {
  font-family: 'Poppins', sans-serif; // Fuente Poppins para todo el proyecto
}

/* Contenedor principal con fondo azul */
.page-container {
  background: linear-gradient(to bottom, #6190e8, #a7bfe8);
  padding: 40px 0;
  min-height: 100vh;
}

/* Contenedor para el formulario */
.form-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: white; /* Fondo blanco para el formulario */
  border-radius: 8px;
  padding: 20px;
}

/* Estilo para el encabezado */
h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Estilo para los grupos de entradas */
.input-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px; /*  A帽ade espacio entre elementos */
}

/* Estilo para las etiquetas de los campos */
label {
  font-weight: bold;
  margin-bottom: 5px;
  margin-right: 10px; /*  A帽ade separaci贸n con el campo */
}

/* Estilo para los campos de entrada */
input[type="text"],
input[type="email"],
input[type="number"] {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Estilo para los botones */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
}

button:hover {
  opacity: 0.9;
}

/* Estilo espec铆fico para el bot贸n de Buscar */
button[type="button"] {
  background-color: #54a15b; /* Naranja */
  color: white;
  width: 20%;
}

button[type="button"]:hover {
  background-color: #e68900;
}

/*  Alineaci贸n centrada de los botones */
/* Alineaci贸n de los botones en el centro */
.button-group {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacio entre los botones */
    margin-top: 20px;
  }
  
  /* Ajuste del ancho de los botones */
  .register-button,
  .update-button {
    width: auto; /* Se ajusta al contenido */
    padding: 10px 20px;
  }

.register-button {
  background-color: #4CAF50; /* Verde para Registrar */
  color: white;
}

.register-button:hover {
  background-color: #45a049;
}

.update-button {
  background-color: #2196F3; /* Azul para Actualizar */
  color: white;
}

.update-button:disabled {
  background-color: #ddd; /* Gris cuando est谩 deshabilitado */
  cursor: not-allowed;
}

/* Estilo para los mensajes */
.message {
  text-align: center;
  color: #333;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}
